.jumbotron {
    background-color: rgba(179, 213, 245, 0.527);
    margin-top: 50px;
}


.footer {
    padding: 1rem 1rem 0 1rem;
    background-color: rgb(143, 189, 190);
    margin:1rem 0 0 0;
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 0px 0px 5px;
    margin-top: 10px;
  
}

.btn-reserva {
    width: 100%;
    background-color: rgb(231, 151, 169);
    font-weight: 500;
    text-transform: uppercase;
}

footer a  {
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}



img {
    max-width: 100%;
    margin:0 auto;
}

.tab-content {
    padding-top: 10px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(143, 189, 190);
}



